
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<form class="form-group" asp-action="Index" id="ProyectoEliminar">
    <script type="text/javascript">
        window.onload = function Error(event) {
            swal({
                title: 'Revisar Correo Confirmacion',
                text: '@AlelaProject.Servicio.Helper.Mensaje',
                type: 'error',
                showCancelButton: true,
                cancelButtonText: 'Aceptar',
                cancelButtonClass: 'btn btn-success',
                showConfirmButton: false,
                confirmButtonText: 'Si',
                confirmButtonClass: 'btn btn-success'
            }, function (isConfirm) {
                if (isConfirm) {
                    return true;
                } else {
                    location.href = "@AlelaProject.Servicio.Helper.Controller";
                    return false;
                }
            });
            return false;
        }
    </script>
</form>
